
.container{
  background: #FFFFFF;
  border-radius: 8.95px;
}
body{
  margin: 0;
}

.logoBox{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.airBnbLogo{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
}
.mainBox{
  margin-left: 20px;
}
.nineImages{
  width: 59%;
  height: 43%;
  padding: 5% 17%;
}
.mainTitle{
  font-family: 'Poppins';
  font-style: normal;
  width: 347px;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
}
.titleDescription{
  width: 320px;
  height: 56px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}
.card {
  width: 175px;
  position: relative;
  font-size: 12px;
  font-family: 'Poppins';
  margin-left: 20px;
}

.card--image {
  border-radius: 9px;
  width: 176px;
  height: 235px;
  left: 37px;
  top: 521px;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}
.gray{
  color: #918E9B;
}
.card--star {
  height: 14px;
}
.everyElement{
  display: flex;
  overflow-x: scroll;
}
.bold{
  font-weight: bold;
}
.imageDescription{
  width: 176px;
}
.cardBadge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 110%;
}